@tailwind base;
@tailwind components;
@tailwind utilities;

/*global colors*/
:root {
  --first-color: #7BBDB3;
  --second-color: #F68129;
}


*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-family: Lora, sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  font-family: Lora, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #000;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #fff;
}

.range{
  height: 80px;
  width: 380px;
  background: #fff;
  padding: 0 65px 0 45px;
}

.field{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
}

.field .value{
  position: absolute;
  font-size: 18px;
  color: black;
  font-weight: 600;
}

.field .value.left{
  left: -40px;
}

.field .value.right{
  right: -43px;
}

input[type=range]{
  -webkit-appearance: none;
  width: 100%;
  height: 3px;
  background: #ddd;
  border-radius: 5px;
  outline: none;
  border: none;
  z-index: 2222;
  max-width: 300px;
  margin: 10px 20px
}

input[type=range]::-webkit-slider-thumb{
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 50%;
  background: black;
  border: 1px solid black;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb{
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 50%;
  background: black;
  border: 1px solid black;
  cursor: pointer;
}

input[type=range]::-moz-range-progress{
  background: black; 
}

.no-scroll {
  height: 100%;
  overflow: hidden;
}

.itemMenu{
  position: relative;
}

.itemMenu::before {
  content: ' ';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 5px;
  background-color: var(--first-color);
  transition: all 0.3s ease-in-out;
}

.itemMenu:hover::before {
  width: 100%;
}

.min-w-6xl {
  min-width: 1140px;
}

.first-color {
  color: var(--first-color);
}

.second-color {
  color: var(--second-color);
}

.background-first-color {
  background-color: var(--first-color);
}

.background-second-color {
  background-color: var(--second-color);
}

.logo-white {
  -webkit-filter: invert(1);
  filter: invert(1);
}

.border-custom-first-color {
  border: 5px solid var(--first-color);
}

.border-custom-second-color {
  border: 5px solid var(--second-color);
}
